<section class="why-us container">
    <h1>WHY US?</h1>
    <div class="row ">
        <div class="col-lg-4">
            <div class="icon-container">
                <img class="img-responsive" src="/assets/why-us-first-icon.png" />
            </div>    
            <p>We have a deep dedication to affiliation. Our high paying affiliate program offers up to 45% commission. The more NDPs generated, the higher the payout. Our partners choose us, stick with us and refer us.</p>
          </div>
          <div class="col-lg-4">
            <div class="icon-container">
                <img class="img-responsive" src="/assets/why-us-second-icon.png" />
            </div>    
            <p>It's important to our continued success for us to get out and be seen. Keep up with our news to see where you can meet us next!</p>
          </div>
          <div class="col-lg-4">
            <div class="icon-container">
                <img class="img-responsive" src="/assets/why-us-third-icon.png" />
            </div>    
            <p>Person-to-Person business is the way we do things. We build lasting and meaningful relationships. Right from the start, you’ll be assigned your own affiliate manager. That person will be your go-to person.</p>
          </div>
    </div>
</section>
