<section class="container">
    <h1>About us</h1>
    <p>Condor Gaming is a global operator managing six high-conversion casinos and sports brands, that deliver an exceptional customer experience and superior customer lifetime value (LTV).</p>
    <h4>Dynamic Growth</h4>
    <p>Condor Gaming’s signature gamification technologies and high conversion brands were key to the company’s dynamic growth in the igaming industry. Today our in-house brands are represented and operate in multiple regulated markets.

        Implementing a multi-tiered growth strategy, Condor Gaming is also engaging emerging markets including Canada, Finland, Japan, India, Ireland, New Zealand, and LATAM.</p>
    <h4>Trust</h4>
    <p>Reliability - Condor Gaming is proud to be trusted by 1700+ Affiliates.
        Transparency - Straight-forward monthly payment methods and no hidden fees.</p>
    <h4>Support</h4>
    <p>1-on-1 - Condor Gaming supports all new and existing partners. Your assigned Affiliate Manager will work closely with you to streamline messaging,
        provide you with real-time data reporting, and supply marketing tools to help drive profit momentum.
        
        Do you need banners for promotions?
        Do you need advice on how to push a particular promotion? 
        
        Condor Gaming’s Graphics Team is here to support you with all the necessary marketing tools you need for your business to succeed!.</p>
        <hr/>
        
            <cite>
            “At the heart of Condor Gaming’s philosophy lies transparency and collaboration.
                Our drive to expand into new markets can only be achieved with good quality relationships.
                Our partners will always be essential to Condor Gaming’s culture as we pursue our vision.”
            </cite>
        <p>
            Prash Patel, Condor Gaming Chief Marketing Officer
        </p>
</section>