<section class="brand-menu">
    <div class="container">
        <h1>brand menu</h1>
        <div class="col-lg-12 all-brands d-flex">
            <div class="item">
            <a href="https://www.rembrandtcasino.com/">
            <img src="/assets/brands/brand-logos-frontpage-REM.png" alt="" class="img-responsive img-rounded loading">
            </a>
            </div>
            <div class="item">
            <a href="https://www.casinosieger.com/">
            <img src="/assets/brands/brand-logos-frontpage-SIEGER.png" alt="" class="img-responsive img-rounded loading">
            </a>
            </div>
            <div class="item">
            <a href="https://www.24bettle.com/">
            <img src="/assets/brands/brand-logos-frontpage-24-BETTLE.png" alt="" class="img-responsive img-rounded loading">
            </a>
            </div>
            <div class="item">
            <a href="https://www.b-bets.com/">
            <img src="/assets/brands/brand-logos-frontpage-B-BETS.png" alt="" class="img-responsive img-rounded loading">
            </a>
            </div>
            <div class="item big5-logo-wrapper">
            <a href="https://www.big5casino.com/">
            <img src="/assets/brands/brand-logos-frontpage-BIG5.png" alt="" class="img-responsive img-rounded big5-logo loading">
            </a>
            </div>
            <div class="item">
            <a href="https://www.luckybull.com/">
            <img src="/assets/luckybull.png" alt="" class="img-responsive img-rounded luckybull-logo loading">
            </a>
            </div>
            </div>
    </div>
</section>
