@import '/src/app/Sass/base.scss';

:host {
    h2{
        
        text-shadow: 0px 4px 10px rgb(0 0 0 / 40%);
        color: #ffffff;
        margin-bottom: 0;
        font-weight: 600;
        @include breakpoint(xxs){
            font-size:30px;
            line-height: 32px;
        }
        @include breakpoint(md){
            font-size: 72px;
            line-height: 84px;
        }
    }
    h5 {
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 300;
        margin-top: 0;
        text-shadow: 0px 4px 10px rgb(0 0 0 / 40%);
        @include breakpoint(xxs){
            font-size: 18px;
            line-height: 20px;
        }
        @include breakpoint(md){        
            font-size: 40px;
            line-height: 85px;}
    }
    .btn-primary{
        background: $brand-color;
        border: 2px solid $brand-color;
        color: white;
        padding: 16px 2.2vw;
        border-radius:0;
        @include breakpoint(xs){
            font-size:12px;
        }
        @include breakpoint(md){
            font-size:20px;
        }
    }
}
.banner{
    position:relative;
    padding:0;
}
.main-content {
    position: absolute;
    @include breakpoint(xxs){
        top:10px;
        left:10px;
    }
    @include breakpoint(md){
        top: 50px;
        left: 50px;
    }
}
