
    <section class="banner">
        <img src="/assets/evolution-live.jpg">
        <div class="main-content">
            <h2>Partners' 1st Choice <br> Affiliate Program</h2>
            <h5>UP TO 45% REVENUE SHARE</h5>
            <a href="/en/signup" class="btn btn-primary btn-join" role="button">Join Now</a>
            </div>
    </section>
<app-whyus></app-whyus>
<app-program></app-program>
<app-plans></app-plans>
<app-sub-commision></app-sub-commision>
<app-testimonials></app-testimonials>
<app-brandmenu></app-brandmenu>
<app-contact></app-contact>


