@import '/src/app/Sass/base.scss';

:host {
    h2{
        font-size: 72px;
        line-height: 84px;
        text-shadow: 0px 4px 10px rgb(0 0 0 / 40%);
        color: #ffffff;
        margin-bottom: 0;
        font-weight: 600;
    }
    h5 {
        color: #ffffff;
        text-transform: uppercase;
        font-size: 40px;
        line-height: 85px;
        font-weight: 300;
        margin-top: 0;
        text-shadow: 0px 4px 10px rgb(0 0 0 / 40%);
    }
    .btn-primary{
        background: $brand-color;
        border: 2px solid $brand-color;
        color: white;
        padding: 16px 2.2vw;
        border-radius:0;
        font-size:20px;
    }
}
.banner{
    position:relative;
    padding:0;
}
.main-content {
    position: absolute;
    top: 50px;
    left: 50px;
}

