<section>
    <div class="container">
        <h3>COMMISSION PLANS</h3>
        <div class="col-md-7 col-lg-7">
            <p>In order to create a climate convivial to success. Commission is an important part of that. We give you a "wysiwyg" (what you see is what you get) revenue sharing model. No hidden fees. No hidden deductions. No limitations to reach high. During the first 3 months, there's a revenue share of up to 45%.</p>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary">Join and start earning</button>
            </div>
            <div class="container plans-grid">
                <div class="row">
                    <div class="col-md-12 d-flex">
                        <div class="col-md-6 col">
                            <div class="col-md-12 col-sm-6">
                                <div class="plan">
                                    <span class="ndp">0 - 5 NDPs</span>
                                    <span class="rate">25%</span>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-6">
                                <div class="plan">
                                    <span class="ndp">6 - 10 NDPs</span>
                                    <span class="rate">35%</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col">
                            <div class="col-md-12 col-sm-6">
                                <div class="plan">
                                    <span class="ndp">11 - 20 NDPs</span>
                                    <span class="rate">40%</span>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-6">
                                <div class="plan">
                                    <span class="ndp">20+ NDPs</span>
                                    <span class="rate">45%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
